*{
  margin: 0;
  padding: 0;
}

:root{
  --bs-font-sans-serif: 'New Tegomin';
  --primary-color:rgb(252, 244, 229);
  --secondary-color:rgb(153, 34, 34);
}
body {
  min-height: 100vh;
  background-color: var(--primary-color);
}
header{
  padding: 10px;
  border: var(--primary-color) .2px;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
  gap: 30px;
}

nav a{
  height: 100%;
  /* padding: 0 30px; */
  display: flex;
  align-items: center;
  
}

nav a:hover{
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

nav li:first-child{
  margin-right: auto;
}

.title {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 60px;
  font-family: "mynerve";
}

.filmReel{
  width: 7%;
  height: 7%;
  margin-bottom: 1%;
}

.title-sidebar{
  margin: 0;
  margin-top: 7%;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 35px;
  font-family: "mynerve";
}

.sidebar-search{
  font-size: 22px;
  margin-top: 15%;
  font-family: 'New Tegomin';
  text-decoration: none;
  color: var(--primary-color);
  align-items:end;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 300px;
  z-index: 999;
  background-color: var(--secondary-color);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(30px);
  border-radius: 10px;

}

.menu{
  background-color: var(--primary-color);
  color: var(--primary-color);
}
.front-page {
  margin: 0;
  font-size: 16px;
  text-align: left;
  background-color:var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
}

.front-page:hover{
  background-color:var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.menu{
  height: 40px;
  width: 40px;
}

.menu-button{
  display: none;
}

.x{
  margin: 0;
  margin-top: 30px;
  height: 40px;
  width: 40px;
  margin-left: 160px;
  background-color: var(--primary-color);
}

@media (max-width:1376px) {
  .front-page{
      display:none;
  }
  .menu-button{
      display:block;
  }
}

  .container {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color:rgb(129, 39, 39);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
  }
  .search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
  }

  #movie-name:focus{
    outline: 0;
    background-color: rgb(198, 191, 176);
    border-color: #ffffff;
    color: white;
}
#movie-name::placeholder{
    color: #0f0202;
    font-weight: bold;
    font-size: 14px;
}

  .search-container input,
  .search-container button {
    font-size: 0.9em;
    outline: none;
    border-radius: 20px;
    
  }
  .search-container input {
    background-color: transparent;
    border: 1px solid #cec0c0;
    padding: 0.7em;
    color: #ffffff;
  }

  .search-container button {
    background-color: rgb(72, 17, 17);
    color: #ffffff;
    font-size: 19px;
    border: none;
    cursor: pointer;
  }
  #result {
    color: #e6d7d7;

  }

  .info {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    margin-top: 1.2em;
    
  }
  .poster {
    width: 100%;
  }
  h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
  }
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: 0.6em 0 0.9em 0;
  }
  .rating img {
    width: 1em;
    padding-bottom: 9.7px;
  }
  .rating h4 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    font-weight: bolder;
  }
  .details {
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    color: #c7b2b2;
    margin: 0.6em 0;
    font-weight: bolder;
  }
  .genre {
    display: flex;
    justify-content: space-around;
  }

  .genre div {
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    font-weight: bolder;
  }

  h3 {
    font-weight: bolder;
    margin-top: 1.2em;
  }

  p {
    font-size: 0.9em;
    font-weight: bolder;
    line-height: 1.8em;
    text-align: justify;
    color: #d4c7c7;
  }
  .msg {
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .container {
      font-size: 14px;
    }
    .info {
      grid-template-columns: 1fr;
    }
    .poster {
      margin: auto;
      width: auto;
      max-height: 10.8em;
    }
  }
  .btn {
    margin: 0;
    margin-top: 4px;
    margin-bottom:10px;
    font-size: 20px;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.btn:hover{
  background-color:var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
 